body {
	font-family: 'Noto Sans CJK JP', sans-serif;
	color: #2c2b2c;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.8px;
	position: relative;
}

.pc { display: block !important; }
.sp { display: none !important; }

a:hover {
	opacity: 0.7 ;
}

a img:hover {
	opacity: 0.7 ;
}

button:hover {
	opacity: 0.7 ;
}

/*--------------header--------------*/
header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 9999;
}

nav {
	width: 100%;
	height: 83px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 40px;
	margin: 0 auto;
	position: relative;
}

.header-nav.change-color {
	height: 80px;
	background: #fff;
	color: #222;
}

.nav-scroll {
	display: block !important;
}

nav ul{
	width: 658px;
	height: 46px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav.change-color ul {
	margin-bottom: 18px;
}

nav ul .contact{
	padding: 16px 25px;
	background: #222;
	color: #fff;
}

.company-name {
	margin-bottom: 23px;
}

.company-name-sp {
	display: none;
}

.language {
	padding-top: 12px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 40px;
}

.language a {
	opacity: 0.6;
}

.header-nav.change-color .language {
	display: none;
}

/*--------------hamburger------------*/
.hamburger {
  display: none;
  width: 40px;
  margin-right: 15px;
  position: absolute;
  top: 24px;
  right: 0px;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after{
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 1px;
  background-color: #222;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(32deg) translate(4px, 8px);
}

.hamburger.on span:after {
  transform: rotate(-32deg) translate(4px, -8px);
}

/*---------------drower---------------*/

.drower {
  height: 203px;
  width: 100vw;
  background-color: rgba(8, 8, 8, .9);
	display: block;
	position: fixed;
	top: 50px;
	z-index: 9;
	display: none;
}

.drower li {
	width: 100%;
	height: 51px;
	padding: 0 25px;
	display: block;
	padding: 0 25px;
}

.border-btm {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #555;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drower li:last-child .border-btm{
	border: none;
}

/*-------------mainvisual-------------*/
.mainvisual {
	width: 100%;
	height: auto;
}

.mainvisual img {
	width: 100%;
	height: auto;
}


/*------------------topics------------------*/
.top-container {
	width: 100%;
	height: 1034px;
	background: url(../img/topics_b_pc.png) no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	margin: 0 auto;
}

.topics-wrapper {
	width: 92.5%;
	height: 540px;
	margin-left: 7.5%;
	background: #fff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -40px;
	right: 0;
}

.topics-inner {
	width: 1480px;
	padding: 40px 200px 0 100px;
	margin: 0 auto;
}

.topics-wrapper h1 {
	margin-bottom: 40px;
}

.topics-list-wrapper {
	width: 1160px;
	height: 335px;
	display: flex;
}

.topics-list-inner {
	width: 275px;
	height: auto;
	margin-right: 20px;
}

.topics-list-inner:last-child {
	margin-right: 0;
}

.topics-list-inner .list-text {
	line-height: 24px;
	padding-top: 29px;
	padding-left: 20px;
	position: relative;
}

.topics-list-inner .time {
	width: 107px;
	height: 28px;
	background: #222;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	padding-top: 10px;
	padding-left: 20px;
	position: absolute;
	top: -13px;
	left: 20px;
}

.more-btn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.more-btn button {
	width: 200px;
	height: 50px;
	border: 1px solid #222;
	position: relative;
	text-align: center;
	margin-right: 30px;
}

.slide-bar {
	width: 60px;
	height: 1px;
	background: #222;
	display: block;
	position: absolute;
	bottom: 14px;
	right: -10px;
	transition: transform 0.4s;
}

.more-btn button:hover .slide-bar {
	transform: translateX(20px);
}

/*---------------about---------------*/
.about-wrapper {
	width: 100%;
}

.about-inner {
	width: 1360px;
	padding: 560px 100px 0;
	margin: 0 7.5%;
}

.about-inner h1 {
	margin-bottom: 133px;
}

.about-happines {
	height: 41px;
	margin-bottom: 36px;
}

.about-text {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 33px;
}

.about-text p {
	width: 460px;
	line-height: 22px;
}

/*--------------service------------*/
.service-wrapper {
	width: 100%
	height: auto;
	margin: 0 auto;
	padding: 80px 220px 397px;
}

.service-innner {
	width: 1160px;
	margin: 0 auto;
}

.service-img-wrapper {
	width: 100%;
	height: 548px;
	display: flex;
	margin-bottom: 50px;
}

.service-img-wrapper li {
	width: 300px;
	height: auto;
	display: flex;
	margin-left: 30px;
}

li.service-tit-wrapper {
	width: 200px;
	margin-left: 0;
}

.service-img1 {
	align-items: flex-end;
}

.service-img2 {
	align-items: center;
}

.service-img3 {
	align-items: flex-start;
}

.service-img-wrapper li div {
	box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
}

.service-btn-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.service-btn-wrapper li {
	width: 275px;
	height: 120px;
}

/*--------------btm-wrapper-------------*/
.btm-container {
	width: 92.5%;
	min-width: 1480px;
	height: 1081px;
	background: #f5f6f9;
	position: relative;
}

.btm-wrapper {
	width: 100%;
	height: auto;
	padding: 0 120px;
	position: absolute;
	top: -317px;
	left: 0;
	right: 0;
}

/*------------------studios---------------*/
.studios-wrapper {
	width: 1260px;
	margin: 0 auto 80px;
	padding-left: 100px;
}

.studios-wrapper h1 {
	margin-bottom: 31px;
}

ul.studios-list-wrapper {
	width: 1160px;
	height: 732px;
	display: flex;
	justify-content: space-between;
}

.studios-list-wrapper li {
	width: 367px;
	height: auto;
}

.studios-list-wrapper .list-img {
	margin-bottom: 20px;
}

.studios-list-wrapper .list-text h2 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 15px;
}

.studios-list-wrapper .list-text > p {
	height: 82px;
	line-height: 24px;
}

/*-----------------news----------------*/
.news-wrapper {
	width: 1260px;
	margin: 0 auto 80px;
	padding-left: 100px;
}

.news-wrapper h1 {
	margin-bottom: 34px;
}

ul.news-list-wrapper {
	width: 1160px;
}

.news-list-wrapper li {
	border-bottom: 1px solid #ccc;
	padding: 17px 29px;
	display: flex;
}

.news-list-wrapper li:last-child {
	border-bottom: none;
}

.news-list-wrapper p {
	height: auto;
	line-height: 26px;
}

.news-list-wrapper button {
	width: 120px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background: #222;
	vertical-align: bottom;
	margin: 0 30px;
}

.linkimg::after {
	content: "";
	width: 10px;
	height: 8px;
	background: url(../img/nwes_link.png) no-repeat;
	display: inline-block;
	line-height: 26px;
	vertical-align: center;
	margin-left: 8px;
}


/*--------------topscroll-btn-------------*/
.topBtn {
  position:fixed;
  right: 40px;
  z-index: 10;
  bottom: 500px;
  height:60px;
}

.topBtn-wrapper {
	max-width: 1600px;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 60px;
	height: 60px;
}

/*----------------footer----------------*/
footer {
	width: 100%;
	height: 170px;
	padding-top: 42px;
	background: #222;
	color: #fff;
	line-height: 14px;
}

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.company-name-w {
	margin-bottom: 30px;
}

.footer-right {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-wrapper ul {
	width: 680px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
}



/*-------------sp----------------*/
@media screen and (max-width: 758px) {
	body {
		max-width: 750px;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0.8px;
	}

	.pc { display: none !important; }
	.sp { display: block !important; }




/*--------------hamburger--------------*/
	.hamburger {
	  display: block;
	}

/*--------------header--------------*/
	header {
		height: 50px;
	}

nav {
	height: 50px;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	margin: 0 auto;
}

nav ul{
	display: none;
}

.header-nav.change-color ul {
	margin-bottom: 0;
}

.company-name {
	display: none;
}

.company-name-sp {
	font-size: 15px;
	letter-spacing: 0.8px;
	display: block;
}

.language {
	display: none;
}

/*------------------topics------------------*/
.top-container {
	height: 207.75vw;
	background: url(../img/topics_b_sp.png) no-repeat;
}

.topics-wrapper {
	width: 96%
	height: 167.2vw;
	margin-left: 4%;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: -37px;
}

.topics-inner {
	width: auto;
	padding: 29px 6.666666vw 0 2.66666vw;
	margin: 0 auto;
}

h1 {
	height: 3.2vw;
}

.topics-wrapper h1 {
	margin-bottom: 30px;
	width: auto;
}

h1 img {
	width: auto;
	height: 100%;
}

.topics-list-wrapper {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.topics-list-inner {
	max-width: 312px;
	height: auto;
	margin-right: 20px;
}

.topics-list-inner img {
	width: 100%;
	height: auto;
}

.topics-list-inner .list-text {
	line-height: 20px;
	padding-top: 15px;
	padding-left: 10px;
	position: relative;
}

.topics-list-inner .time {
	width: 70px;
	height: 21px;
	background: #222;
	color: #fff;
	text-align: center;
	font-size: 9px;
	line-height: 21px;
	padding-top: 0;
	padding-left: 0;
	position: absolute;
	top: -10px;
	left: 20px;
}

.more-btn button {
	width: 200px;
	height: 45px;
	border: 1px solid #222;
	position: relative;
	text-align: center;
	margin-right: 2vw;
}

.slide-bar {
	width: 50px;
	bottom: 12px;
	right: -26px;
	transition: none;
}

.more-btn button:hover .slide-bar {
	transform: none;
}

/*---------------about---------------*/
.about-inner {
	width: 100%;
	padding: 170.5333333vw 6.6666vw 0 0;
	margin: 0 7.5%;
}

.about-inner h1 {
	margin-bottom: 8vw;
}


.about-happines {
	width: 72.4vw;
	height: auto;
	margin-bottom: 13.333333vw;
}

.about-happines img {
	width: 100%;
	height: auto;
}

.about-text {
	margin-bottom: 7.86666vw;
}

.about-text p {
	width: 100%;
	line-height: 20px;
}

/*--------------service------------*/
.service-wrapper {
	padding: 12vw 0 0;
}

.service-innner {
	width: 100%;
}

.service-img-wrapper {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 0;
}

.service-img-wrapper li {
	width: 100%;
	margin-left: 0;
	margin-bottom: 5.33333vw;
}

li.service-tit-wrapper {
	width: 100%;
	margin-left: 4vw;
	margin-bottom: 8vw;
}

li.service-img1 {
	margin-right: 8.4vw;
}

li.service-img2 {
	margin-left: 8.4vw;
}

li.service-img3 {
	margin-right: 8.4vw;
}

.service-btn-wrapper {
	width: 100%;
	display: block;
	padding-top: 
}

.service-btn-wrapper li {
	width: 100%;
	height: auto;
	padding: 0 4vw 5.3333vw;
}

/*--------------btm-wrapper-------------*/
.btm-container {
	width: 100%;
	min-width: 100%;
	height: auto;
	background: #fff;
	position: static;
}

.btm-wrapper {
	width: 100%;
	height: auto;
	padding: 8vw 0 0;
	position: static;
	top: none;
	left: none;
	right: none;
}

/*------------------studios---------------*/
.studios-wrapper {
	width: 100%;
	margin: 0 auto 0;
	padding-left: 0;
}

.studios-wrapper h1 {
	margin-bottom: 8vw;
	margin-left: 4vw
}

ul.studios-list-wrapper {
	width: 100%;
	height: auto;
	display: block;
}

.studios-list-wrapper li {
	width: 100%;
	margin-bottom: 10.66666vw;
}

.studios-list-wrapper .list-img {
	margin-bottom: 5.3333vw;
}

.studios-list-wrapper .list-text h2 {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 4.8vw;
}

.studios-list-wrapper .list-text {
	padding: 0 4vw;
}

.studios-list-wrapper .list-text > p {
	height: 21.8666666vw;
	line-height: 24px;
}






	}